server:
  port: 8094

spring:
  zipkin:
    enabled: true
    base-url: http://localhost:9411
    service:
      name: auth-service
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: user

  mail:
    username: systemofdeveloper@gmail.com #systemofdeveloper@gmail.com #${MAILUSERNAME}
    password: qypodmhoxpjkwcmh #${MAILPASSWORD} #qypodmhoxpjkwcmh
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true